body{
  background-color: black;
}
section{
  background-color: #888;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}

a{
  background-color:#fff;
  width:400px;
  height: inherit;
  margin: 0 auto;
}

header div{
   width:35%;
   height:inherit;
   margin: 0 auto;
}

header div img{
   width:inherit;
   height: auto;
}

article img{
  width:50%
  height:20%;
  margin: 0 150px;


}
#text1{
    margin: 0 20%;
    height:10%;
    width: 800px;
}
#text1 p{
    color: #555;
    font-size: 20px;
    font-family: Helvetica, serif;
    text-align: center;
}
#text2{
    margin: 0 35%;
    height: 5%;
    width: 500px;
}
#text2 h{
    color: #333;
    font-size: 28px;
    font-family: Helvetica, serif;
    text-align: center;
}
